<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base target="_blank">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">

    <title>Document</title>
</head>

<body>
    <!-- 預計在開一頁存圖片 -->
    <table align="center">
        <tr><th colspan="5">vtuber</th></tr>
        <tr>
            <th>image<br>(youtube)</th>
            <td><a href="https://www.youtube.com/@GawrGura"><img src="/static/images/gura.jpeg"width="240px" height="340px"></a></td>
            <td><a href="https://www.youtube.com/@MinatoAqua"><img src="/static/images/湊あくあ 1.jpg"width="240px" height="340px"></a></td>
            <td><a href="https://www.youtube.com/@NakiriAyame"><img src="/static/images/百鬼あやめ 7.jpg"width="600px" height="340px"></a></td>
            <td><a href="https://www.youtube.com/@SakuraMiko"><img src="/static/images/さくらみこ　１９２０　１０８０.png"width="600px" height="340px"></a></td>
        </tr>
        <tr>
            <th>name<br>(圖庫)</th>
            <td><a href="http://127.0.0.1:5500/templates/image/Gawr%20Gura.html">Gawr Gura</a></td>
            <td><a href="http://127.0.0.1:5000/aqua">湊あくあ</a></td>
            <td><a href="http://127.0.0.1:5500/templates/image/%E7%99%BE%E9%AC%BC%E3%81%82%E3%82%84%E3%82%81.html">百鬼あやめ</a></td>
            <td><a href="http://127.0.0.1:5500/templates/image/miko.html">さくらみこ</a></td>
        </tr>
        <tr><th colspan="5">vtuber</th></tr>
        <tr>
            <th>image<br>(youtube)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>name<br>(圖庫)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>




</body>

</html>